* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
}

.container-fluid {
  
  &__bg-light {
    --bs-bg-opacity: $opacity-one;
    background-color: $bg-text-light;
  }

  &__txt-white {
    --bs-text-opacity: $opacity-one;
    color: $color-text-white;
  }  

  &--header {
    --bs-bg-opacity: 1;
    background-color: $bg-text-dark;
    padding: 1rem;
  }

  &--section {
    text-align: center;
    color: $color-text;
  }

  &__padding_none {
    padding-left: 0;
    padding-right: 0;
  }

  &--image {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    opacity: 0.6;
    height: auto;
  }  

  &__padding_top_bottom_one {
    padding-top: 1rem;
    padding-bottom: 1rem;  
  }

  &__padding_top_bottom_three {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__img_size {
    width: 60px;
  }

}

.divider {
  width: 100%;
  height: 2.5rem;
  background-color: $bg-divider;
  border: $border-divider;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.divider-size {
  height: 3.5gitrem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.fs-50 {
  font-size: $font-size-50;
}

.fs-30 {
  font-size: $font-size-30;
}

.mt-20 {
  margin-top: 20px;
}